<input
  type="text"
  class="input-list-name textWhite"
  [(ngModel)]="list.name"
  (keyup.enter)="this.updateList()"
  (focusout)="getListById()"
/>
<div class="list-header">
  <div title="Remove list" class="remove-list-button">
    Remove list
    <i
      class="fa fa-minus-square-o"
      aria-hidden="true"
      (click)="removeList()"
    ></i>
  </div>
  <div class="add-card-button">
    Add card
    <i class="fa fa-plus-square-o" aria-hidden="true" (click)="addCard()"></i>
  </div>
</div>
<div class="card" *ngFor="let card of cards">
  <app-card [card]="card" (rmCard)="deleteCard($event)"></app-card>
</div>
