.card {
  height: 200px;
  background-color: grey;
}

.card:not(:last-child) {
  margin-bottom: 5px;
}

.list-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  flex: 1 1 auto;
}

.input-list-name {
  max-width: 100px;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 16px;
  font-family: Arial, sans-serif;
  color: #777;
  padding: 5px;
}

.input-list-name:focus {
  border: none;
  outline: none;
}

.add-card-button,
.remove-list-button {
  display: flex;
  font-weight: bold;
  color: grey;
  align-items: center;
  font-size: 14px;
}

.remove-list-button {
  justify-content: start;
}

.remove-list-button i,
.add-card-button i {
  font-size: 20px;
  padding-left: 5px;
}
