<input
  type="text"
  class="input-list-name textWhite"
  [(ngModel)]="list.name"
  (keyup.enter)="this.updateList()"
  (focusout)="getListById()"
  maxlength="50"
/>
<div class="list-header">
  <div title="Remove list" class="remove-list-button">
    Remove list
    <i
      class="fa fa-minus-square-o"
      aria-hidden="true"
      (click)="removeList()"
    ></i>
  </div>
  <div class="add-card-button">
    Add card
    <i class="fa fa-plus-square-o" aria-hidden="true" (click)="addCard()"></i>
  </div>
</div>
<div
  class="card"
  *ngFor="let card of showMore ? cards : cards.slice(0, 3); let i = index"
>
  <ng-container *ngIf="showMore || i < 3">
    <app-card [card]="card" (rmCard)="deleteCard($event)"></app-card>
  </ng-container>
</div>
<button
  class="button-show-more"
  *ngIf="cards.length > 3"
  (click)="toggleShowMore()"
>
  {{ showMore ? "Show Less" : "Show More" }}
</button>
