<div title="Remove card" class="remove-card-button" (click)="removeCard()">
  <i class="fa fa-trash" aria-hidden="true"></i>
</div>
<div class="container-card">
  <input
    type="text"
    class="input-card card-title"
    [(ngModel)]="card.title"
    (keyup.enter)="this.updateCard()"
    (focusout)="getCardById()"
  />
  <input
    type="text"
    class="input-card card-description"
    [(ngModel)]="card.description"
    (keyup.enter)="this.updateCard()"
    (focusout)="getCardById()"
  />
</div>

<div class="comment" *ngFor="let comment of comments">
  <app-comment [comment]="comment" (rmComment)="deleteComment($event)">
  </app-comment>
</div>
<div class="addCommentContainer">
  <input
    type="text"
    class="input-comment comment-add"
    [(ngModel)]="this.commentText"
    (keyup.enter)="this.addComment()"
  />
</div>
