.card {
  height: 200px;
  background-color: grey;
  margin-top: 5px;
}
.input-card,
.input-comment {
  // max-width: 100px;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 16px;
  font-family: Arial, sans-serif;
  color: #adb8c4;
  padding: 5px;
}

.input-card:focus,
.input-comment:focus {
  border: none;
  outline: none;
}
