<div class="container-card">
  <div title="move-card-down" class="move-card" (click)="moveCardDown()">
    <i class="fa fa-arrow-left" aria-hidden="true"></i>
  </div>
  <div title="move-card-up" class="move-card" (click)="moveCardUp()">
    <i class="fa fa-arrow-right" aria-hidden="true"></i>
  </div>
  <div title="Remove card" class="remove-card-button" (click)="removeCard()">
    <i class="fa fa-trash" aria-hidden="true"></i>
  </div>
  <input
    type="text"
    class="input-card card-title"
    [(ngModel)]="card.title"
    (keyup.enter)="this.updateCard()"
    (focusout)="getCardById()"
  />
  <textarea
    #cardDescription
    type="text"
    class="input-card card-description"
    [(ngModel)]="card.description"
    (ngModelChange)="card.description = $event"
    (focusout)="updateCard()"
    (click)="onTextAreaClick()"
    (blur)="onTextAreaBlur()"
  ></textarea>
</div>

<div
  class="comment"
  *ngFor="
    let comment of showMore ? comments : comments.slice(-3);
    let i = index
  "
>
  <ng-container *ngIf="showMore || i < 3">
    <app-comment
      [comment]="comment"
      [username]="username"
      (rmComment)="deleteComment($event)"
    >
    </app-comment>
  </ng-container>
</div>
<button
  class="button-show-more"
  *ngIf="comments.length > 3"
  (click)="toggleShowMore()"
>
  {{ showMore ? "Show Less" : "Show More" }}
</button>
<div class="addCommentContainer">
  <input
    type="text"
    placeholder="Add comment"
    class="input-comment comment-add"
    [(ngModel)]="this.commentText"
    (keyup.enter)="this.addComment()"
  />
</div>
