<input
  type="text"
  class="input-card card-title"
  [(ngModel)]="card.title"
  (keyup.enter)="this.updateCard()"
  (focusout)="getCardById()"
/>
<input
  type="text"
  class="input-card card-description"
  [(ngModel)]="card.description"
  (keyup.enter)="this.updateCard()"
  (focusout)="getCardById()"
/>
<!-- <p>{{ card.title }}</p>
<p>{{ card.description }}</p> -->
<!-- <p>{{ card.id }}</p> -->
<form (ngSubmit)="addComment()">
  <label for="commentText">Ajouter un commentaire :</label>
  <textarea
    id="commentText"
    [(ngModel)]="commentText"
    name="commentText"
    required
  ></textarea>
  <button type="submit">Ajouter</button>
</form>
<div class="comment" *ngFor="let comment of comments">
  <app-comment [comment]="comment"> </app-comment>
</div>
