.container-comment {
  //   position: relative;
  //   border: 1px solid grey;
  background-color: rgb(60, 60, 60);
  border-radius: 5px;
  padding: 5px;
  font-family: monospace;
}
.remove-comment-button {
  cursor: pointer;
  color: grey;
}
.container-user-date {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
