.top-container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
}

.side-barre {
  display: flex;
  flex-direction: column;
  min-width: 250px;
  width: 20%;
  position: sticky;
  top: 0;
  height: 100vh;
}

h1.site-title {
  text-align: center;
  margin: 20px;
  font-size: 2em;
  margin-bottom: 30px;
  background: #c4b2da;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.site-title span {
  background: linear-gradient(to right, #c4b2da, #5e2880);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

h2.channel-title {
  font-size: 0.8em;
  color: white;
  font-weight: 500;
  text-align: center;
  margin-bottom: 10px;
}

.channels {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to right, #3280c3, #5a64ad, #95539a);
}

button.thread {
  background-color: transparent;
  border: 0px;
  color: white;
}

.buttonContainer,
.add-thread {
  display: flex;
  justify-content: left;
  align-items: center; /* Pour aligner les boutons verticalement */
  width: 100%;
  height: 40px;
  flex-direction: row;
}

.buttonDelete {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 0.7em;
  cursor: pointer;
  padding: 0;
  width: 20px;
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.thread {
  font-size: 0.7em;
  width: 100%;
  height: 100%;
  text-align: left;
  padding-left: 10px;
  cursor: pointer;
}

.add-list-button:hover,
.buttonDelete:hover,
.thread:hover,
.add-thread button:not(:disabled):hover {
  opacity: 0.8;
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.buttonDelete:active,
.thread:active,
.add-thread button:not(:disabled):active {
  opacity: 0.6;
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.add-thread input,
.add-thread button {
  display: flex;
  height: 100%;
  width: 50%;
  border: none;
}

.add-thread button {
  background: linear-gradient(to right, #3280c3, #5a64ad, #95539a);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 0.7em;
}
.add-thread button:disabled {
  opacity: 0.5;
  cursor: default;
}

input::placeholder {
  color: lightgrey;
}

input {
  background-color: #f0f0f0;
  text-align: left;
  color: grey;
  padding-left: 10px;
  padding-right: 10px;
}

.add-thread input {
  align-items: center;
  justify-content: center;
  border: none;
}

button {
  color: white;
}

.board {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: white;
  color: black;
  padding: 30px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.board h2 {
  padding-bottom: 20px;
}

.add-list-button i {
  padding: 0px;
  margin: 0px;
  color: grey;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  align-items: center;
}

.listsContainer {
  display: flex;
  flex-direction: row;
}

app-list {
  flex-direction: column;
  background-color: lightgray;
  flex: 1;
  padding: 5px;
}

app-list:not(:last-child) {
  margin-right: 10px;
}
