<div class="top-container">
  <div class="side-barre">
    <div class="titles">
      <h1 class="site-title">Mini-<span>Trello</span></h1>
      <h2 class="channel-title">PROJECTS</h2>
    </div>
    <div class="channels" *ngFor="let project of projects">
      <div class="buttonContainer">
        <button class="buttonDelete" (click)="deleteProject(project.id)">
          <i class="fa fa-trash" aria-hidden="true"></i>
        </button>
        <button class="project" (click)="selectProject(project)">
          {{ project.name }}
        </button>
      </div>
    </div>
    <div class="title">
      <h2 class="channel-title">ADD PROJECT</h2>
    </div>
    <div class="add-project">
      <input
        class="projectLabel"
        type="text"
        [(ngModel)]="this.projectLabel"
        maxlength="30"
        placeholder="New Project"
        autocomplete="off"
      />
      <input
        class="projectDescription"
        type="text"
        [(ngModel)]="this.projectDescription"
        maxlength="255"
        placeholder="Project description"
        autocomplete="off"
      />
      <button (click)="sendProject()">New Project</button>
    </div>
  </div>
  <div class="board">
    <nav class="header">
      <h2>Board</h2>
      <button class="button-log-out" (click)="logOut()">
        <i class="fa fa-sign-out" aria-hidden="true"></i>
      </button>
    </nav>
    <div class="container-nav">
      <div class="description" *ngIf="projects">
        Description: {{ actualProject.description }}
      </div>
      <div class="add-list-button" (click)="addList()">
        Add list <i class="fa fa-plus-square-o" aria-hidden="true"></i>
      </div>
    </div>
    <div class="listsContainer">
      <app-list
        class="list"
        *ngFor="let list of lists"
        [list]="list"
        (rmList)="deleteList($event)"
      ></app-list>
    </div>
  </div>
</div>
