<div class="top-container">
  <div class="side-barre">
    <div class="titles">
      <h1 class="site-title">Mini-<span>Trello</span></h1>
      <h2 class="channel-title">PROJETS</h2>
    </div>
    <div class="channels" *ngFor="let project of projects">
      <div class="buttonContainer">
        <button class="buttonDelete" (click)="deleteProject(project.id)">
          X
        </button>
        <button class="thread">
          {{ project.nom }} {{ project.description }}
        </button>
      </div>
    </div>
    <div class="add-thread">
      <input
        type="text"
        [(ngModel)]="this.projectLabel"
        maxlength="30"
        placeholder="Nouveau Projet"
        autocomplete="off"
      />
      <input
        type="text"
        [(ngModel)]="this.projectDescription"
        maxlength="30"
        placeholder="Description projet"
        autocomplete="off"
      />
      <button (click)="sendProject()">Nouveau Project</button>
    </div>
  </div>
  <div class="listsContainer">
    <div class="list" *ngFor="let list of lists">
      <app-list></app-list>
    </div>
  </div>
</div>
