<div class="top-container">
  <div class="side-barre">
    <div class="titles">
      <h1 class="site-title">Mini-<span>Trello</span></h1>
      <h2 class="channel-title">PROJETS</h2>
    </div>
    <div class="channels" *ngFor="let project of projects">
      <div class="buttonContainer">
        <button class="buttonDelete">X</button>
        <button class="thread">
          {{ project.nom }}
        </button>
      </div>
    </div>
    <div class="add-thread">
      <input
        type="text"
        [(ngModel)]="this.nomProjet"
        maxlength="30"
        placeholder="Nouveau channel"
        autocomplete="off"
      />
      <button (click)="test()">Nouveau Project</button>
    </div>
  </div>
  <div class="listsContainer">
    <div class="list">
      <div class="card"></div>
      <div class="card"></div>
      <div class="card"></div>
      <div class="card"></div>
      <div class="card"></div>
      <div class="card"></div>
    </div>
          <div class="list">A Faire</div>
          <div class="list">En Cours</div>
         <div class="list">Terminé</div>
  </div>
</div>
