@import url("https://fonts.googleapis.com/css?family=Raleway");

* {
  padding: 0px;
  margin: 0px;
}

h1 {
  font-weight: 600;
}

app-root {
  display: flex;
  width: 100%;
  height: 100%;
}

body,
html {
  display: flex;
  width: 100%;
  // height: 100%;
  background-color: #2d2d2d;
  font-family: "Raleway";
}
